@{
    ViewData["Title"] = "Demo";
}
<h1>Demo Competencies</h1>
<ul>
    <li><a href="@Url.Action("EventDemo")">Event Handling Demo</a></li>
    <li><a href="@Url.Action("MathDemo")">Math Operations Demo</a></li>
    <li><a href="@Url.Action("ExceptionDemo")">Exception Handling Demo</a></li>
    <li><a href="@Url.Action("BlocksDemo")">Code Blocks (Delegates, Func, Action, etc.) Demo</a></li>
    <li><a href="@Url.Action("AdvancedDemo")">Advanced Features Demo</a></li>
    <li><a href="@Url.Action("HeavyComputation")">Async Demo</a></li>
    <li><a href="@Url.Action("TplDemo")">Parallel Demo</a></li>
    <li><a href="@Url.Action("RegexDemo")">Regex Demo</a></li>
    <li><a href="@Url.Action("HttpClientDemo")">Http Client Demo</a></li>
    <li><a href="@Url.Action("TaskSchedulingDemo")">Task Scheduling Demo</a></li>
    <li><a href="@Url.Action("TransactionsDemo")">Transactions Demo</a></li>
</ul>
