@{
    ViewData["Title"] = "Demo";
}
<h1>Demo Competencies</h1>
<ul>
    <li><a href="@Url.Action("EventDemo")">Event Handling Demo</a></li>
    <li><a href="@Url.Action("MathDemo")">Math Operations Demo</a></li>
    <li><a href="@Url.Action("ExceptionDemo")">Exception Handling Demo</a></li>
    <li><a href="@Url.Action("BlocksDemo")">Code Blocks (Delegates, Func, Action, etc.) Demo</a></li>
    <li><a href="@Url.Action("AdvancedDemo")">Advanced Features Demo</a></li>
</ul>
